.note {
    height: 30px;
    width: 30px;
    background-color: #bbbbbb;
    border-radius: 5px;
    border-width: 1px;
    opacity: 50%;
    border-style: solid;
    display: inline-block;
    line-height: 30px;
}

.note:hover {
    border-color: #32cd32;
    cursor: pointer;
}

.note:active, .marked {
    background-color: #adff2f;
    opacity: 100%;
}

.octave { 
    background-color: #ff0000;  
}
