.App {
  text-align: center;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 45px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #27414b;
  position: fixed;
  z-index: 999999;
}

li {
  display: inline;
  color: #ffffff;
  padding: 2vw 1vw;
  text-decoration: none;
}

.button {
  background-color: #5a747a;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  line-height: 1;
  height: 25px;
  margin-top: 1.5rem;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.drop-down-label {
  color: white;
  font-weight: 600;
  padding-right: 5px;
}

@media only screen and (max-width: 1137px) {
  #rotate-button {
    display: none;
  }
}
